.done {
    text-decoration: line-through;
}

.todo-item {
    position: relative;
    margin-bottom: 10px;
}

.todo-item:hover {
    background-color: #f6f6f6;
}

.close-icon {
    position: absolute;
    right: 2px;
}

.close-icon:active {
    background-color: #E8E8E8;
}